.about-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff8;
    background-image: url("/noise.svg");
    background-size: 200px;
    border-radius: 25px;
    padding: 5px 5px;
    width: calc(var(--column-width) - 70px);
    box-shadow: 0px 5px 20px #0008;
    backdrop-filter: blur(20px);
}

.about-card>.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px 10px 10px;
    font-size: x-large;
    font-weight: bold;
    gap: 10px;
}

.about-card>.content {
    display: flex;
    flex-direction: column;
    background-color: #0001;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
    align-items: start;
    gap: 10px;
}

.x {
    padding: 7.5px;
    border-radius: 15px;
    height: 15px;
    transition: background-color 300ms linear;
}

.x:hover {
    background-color: red;
}

.x>img {
    display: block;
    transition: filter 300ms linear;
}

.x:hover>img {
    filter: invert(1);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.tech-grid {
    display: grid;
    width: 100%;
    align-items: top;
    justify-items: left;
    grid-template: 0fr 1fr / 1fr 0fr 0fr 1fr 0fr 0fr 1fr 0fr 0fr 1fr;
    grid-template-areas:
        ". fi ft . bi bt . di dt ."
        ". fc fc . bc bc . dc dc .";
    gap: 20px;
}

.tech-title {
    font-weight: bold;
    font-size: x-large;
}

.tech-list {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 800px) {
    .tech-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tech-grid {
        grid-template: 0fr 1fr 0fr 1fr 0fr 1fr/ 0fr 1fr;
        grid-template-areas:
            "fi ft"
            "fc fc"
            "bi bt"
            "bc bc"
            "di dt"
            "dc dc";
    }
}