.reveal-container {
    display: inline-grid;
    align-items: center;
    justify-items: center;
    grid-template-areas: "r";
}

#reveal {
    grid-area: r;
    display: inline;
    color: white;
    font-weight: bold;
    height: 36pt;
    width: 260px;
    border: none;
    background-color: transparent;
    font-size: large;
    background-image: url(/redacted.png);
    background-size: 100% 100%;
}

#email {
    grid-area: r;
    width: min-content;
}

#email:link {
    color: black;
    font-weight: bold;
}