.experience {
    width: var(--column-width);
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 5px 20px #0004;
    display: grid;
    grid-template: 0fr minmax(1fr, 100%) 0fr / 0fr 1fr 1fr;
    grid-template-areas:
        "i c y"
        "i d d"
        "i t t";
    margin: 20px;
}

.experience-img {
    grid-area: i;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-img>img {
    height: 200px;
    border-radius: 40px;
    aspect-ratio: 1.6;
    object-fit: cover;
}

.experience-company {
    padding: 0px 20px;
    grid-area: c;
}

.experience-description {
    grid-area: d;
    align-items: start;
    padding: 0px 20px;
}

.technologies {
    grid-area: t;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}

@media only screen and (max-width: 800px) {
    .experience {
        grid-template: 0fr 0fr 0fr 0fr / 1fr 1fr;
        grid-template-areas:
            "i i"
            "c y"
            "d d"
            "t t";
    }
}