:root {
    --client-width-safe: var(--client-width, 100vw);
    --column-width: min(var(--client-width-safe) - 40px, 880px)
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    font-size: large;
    background-image: url("/noise.svg");
    background-size: 100px;
}

.geometric-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/colorful-2174045_1920.png");
    background-size: cover;
}

h1 {
    font-family: 'kanit', regular;
}

p {
    margin: 0.5rem 0;
}

header {
    margin: 20px;
    border-radius: 40px;
    width: var(--column-width);
    height: 400px;
    display: grid;
    grid-template-areas:
        ". . ."
        ". t ."
        ". d .";
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

@keyframes gradient {
    0% {
        filter: hue-rotate(360deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}

.header-title {
    grid-area: t;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 440px;
    color: white;
    font-size: 60pt;
    line-height: 75%;
    font-family: 'kanit', regular;
    text-shadow: 0px 0px 10px #fff8;
}

.header-description {
    grid-area: d;
    height: max-content;
    color: black;
    padding: 20px 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: #fff8;
    box-shadow: 0px 0px 20px white;
}

.personal-project-cards {
    margin-top: 40px;
    width: var(--column-width);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

@media only screen and (max-width: 540px) {
    .header-title {
        width: 294px;
    }
}

.technologies-category {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 20px;
}

@media only screen and (max-width: 652px) {
    .technologies-category {
        width: var(--column-width)
    }
}