.personal-project-card {
    border-radius: 25px;
    width: 100%;
    box-shadow: 0px 5px 20px #0004;
    background-color: white;
    transition: margin 300ms ease-in-out, width 300ms ease-in-out;
}

.personal-project-card:hover {
    margin: -10px;
    z-index: 1;

}

.personal-project-card>img {
    border-radius: 25px;
    width: 100%;
    aspect-ratio: 1.6;
    object-fit: cover;
}

.technologies-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}