.technologies {
    display: grid;
    grid-template: 0fr / 0fr 0fr 1fr;
    grid-template-areas: "i t l";
    align-items: center;
    justify-items: left;
}

.technologies-img {
    padding: 6px;
    grid-area: i;
}

.technologies-title {
    grid-area: t;
    margin: 0px;
    padding-right: 16px;
}

.technologies-list {
    grid-area: l;
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 652px) {
    .technologies {
        grid-template: 0fr 1fr / 0fr 1fr;
        grid-template-areas:
            "i t"
            "l l";
    }

    .technologies-list {
        flex-wrap: wrap;
    }
}