---
import AboutCard from "./AboutCard.astro";
import "../styles/about.css";
import Technology from "./Technology.astro";
---

<script>
    const cards: NodeListOf<HTMLElement> =
        document.querySelectorAll(".about-card");
    const resetButton: HTMLButtonElement | null =
        document.querySelector(".reset-button");
    if (!resetButton) {
        throw new Error("Reset button not found");
    }

    // Hack for Firefox because it persists the button state across
    // page loads
    resetButton.disabled = true;

    // It's humanly impossible to reach the highest zIndex value,
    // so we just increment it to make sure the active card is on top
    let zIndex = 0;
    for (const card of cards) {
        card.onclick = () => {
            zIndex++;
            card.style.zIndex = zIndex.toString();
        };
        const x: HTMLElement | null = card.querySelector(".x");
        if (x) {
            x.onclick = () => {
                card.style.animation = "fade-out 500ms forwards";
            };
        }
        card.addEventListener("animationend", (e) => {
            if (e.animationName === "fade-out") {
                card.style.display = "none";
                resetButton.disabled = false;
            }
        });
    }

    resetButton.onclick = () => {
        for (const card of cards) {
            if (card.style.display === "none") {
                card.style.display = "flex";
                card.style.animation = "fade-in 500ms forwards";
            }
            card.style.removeProperty("z-index");
        }
        zIndex = 0;
        resetButton.disabled = true;
        resize();
    };

    const about: HTMLElement | null = document.querySelector(".about");
    if (!about) {
        throw new Error("About div not found");
    }
    const resize = () => {
        let height = 0;
        for (const card of cards) {
            if (card.clientHeight > height) {
                height = card.clientHeight;
            }
        }
        about.style.height = `${height + 25}px`;
    };
    addEventListener("resize", resize);
    resize();
</script>
<div class="about">
    <AboutCard
        title="Hobbies"
        src={`${import.meta.env.BASE_URL}chip.svg`}
        position={[0, 0]}
    >
        a
    </AboutCard>
    <AboutCard
        title="About Me"
        src={`${import.meta.env.BASE_URL}server.svg`}
        position={[50, 25]}
    >
        <h3>Hi, I'm a software developer from Brazil!</h3>
        <p>I have worked on private commercial software since 2016.</p>
        <p>
            In my career I have brought creativity in problem solving. I value
            simple and intuitive solutions. I believe in sharing experiences
            with the team to reach better results.
        </p>
    </AboutCard>
</div>
<button class="reset-button" disabled>Reset</button>
