---
const { src, technologies, company, backgroundColor } = Astro.props;
import "../styles/experience.css";
import Technology from "./Technology.astro";
---

<div class="experience">
    <div class="experience-img" style={`background-color: ${backgroundColor};`}>
        <img class="experience-img" src={src} />
    </div>
    <h3 class="experience-company">{company}</h3>
    <div class="experience-description">
        <slot />
    </div>
    <div class="experience-technologies">
        {
            technologies.map((technology: string) => {
                return <Technology name={technology} />;
            })
        }
    </div>
</div>
