---
const { src, technologies, company, backgroundColor } = Astro.props;
import "../styles/experience.css";
import TechnologyIcon from "./TechnologyIcon.astro";
---

<div class="experience">
    <div class="experience-img" style={`background-color: ${backgroundColor};`}>
        <img class="experience-img" src={src} />
    </div>

    <div class="technologies">
        {
            technologies.map((technology: string) => {
                return <TechnologyIcon name={technology} />;
            })
        }
    </div>
    <hr />
    <div class="experience-content">
        <h3>{company}</h3>
        <slot />
    </div>
</div>
