---
import "../styles/technology.css";
import TechnologyIcon from "./TechnologyIcon.astro";
const { name, style } = Astro.props;
---

<div class="technology" style={style}>
    <TechnologyIcon name={name} />
    <span>{name}</span>
</div>
