---
import "../styles/technology.css";
import TechnologyIcon from "./TechnologyIcon.astro";
const { name } = Astro.props;
---

<div class="technology">
    <TechnologyIcon name={name} />
    <span>{name}</span>
</div>
